<app-header />

<main>
  <ul id="users">
    <li>
      <app-user [user]="users[0]" (selectedUser)="onSelectFromApp($event)" />
    </li>
    <li>
      <app-user [user]="users[1]" (selectedUser)="onSelectFromApp($event)" />
    </li>
    <li>
      <app-user [user]="users[2]" (selectedUser)="onSelectFromApp($event)" />
    </li>
    <li>
      <app-user [user]="users[3]" (selectedUser)="onSelectFromApp($event)" />
    </li>
  </ul>

  <app-tasks [name]="selectedUser ? selectedUser.name : ''" />
</main>
